html {
    /* Set rules for image to fill background */
    background: url(images/background.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family: Arial;  
    color: white;
    margin-left: 75pt;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul li {
    float: left;
    width: 230px;
    height: 40px;
    background-color: black;
    opacity: .8; /* this is what makes navegation menu transparent*/
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
}
ul li a {
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
}
ul li a:hover{
    background-color:#F89880;
    ;
}
ul li ul li{
    display: none; /* this hides submenues*/
}
ul li:hover ul li{
    display: block; /*display submenues when user hovers*/
}

/*-------contact page-----------*/
.contact-us{
    width: 50%;
    margin: auto;
}

.contact-col{
    flex-basis: 100;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-col div .fa{
    font-size: 28px;
    color: #F89880;
    margin: 10px;
    margin-right: 0px;
}


.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}
.button{
    display: inline-block;
    background: #F89880;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px; /* makes the borders of my button round */
    transition: background 0.5s;
}

.button:hover{
    background: #BA4A00
}